#file-create form {
    margin: 1% 0 1% 39%;
    display: none;
}

#file-create p {
    text-align: center;
    cursor: pointer;
}

#show {
    text-align: center;
    cursor: pointer;
    color: rgba(66, 139, 202, 1);
}

#show:hover {
    text-decoration: underline;
}
